{% macro StanList(items, heading, listClass) %}
  <h3>{{ heading }}</h3>
  <ul
    style="font-family: Literata;"
    {% if listClass %}class="{{ listClass }}"{% endif %}
  >
    {% for item in items %}
      <li>{% if item.group %}{{ item.group }} -{% endif %} {{ item.member }}</li>
    {% endfor %}
  </ul>
{% endmacro %}
